<main role="main" class="inner cover">
  <h1 class="cover-heading text-center">Welcome to my online home.</h1>
  <div id="element">
    <p class="lead text-center"><span class="element">Passionate about developing technologies and development on server side.</span></p>
  </div>

  <p class="lead text-center">
    <%= link_to "About Me", about_me_path, class: "btn btn-lg btn-secondary" %>
  </p>
</main>

