<main role="main" class="inner cover">
  <h1 class="cover-heading text-center">Welcome to my online home.</h1>
  <p class="lead text-center">Passionate about developing technologies and development on server side.</p>
  <p class="lead text-center">
    <%= link_to "About Me", about_me_path, class: "btn btn-lg btn-secondary" %>
  </p>
</main>

