// Place all the styles related to the Blogs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  background-color: #F7F7F7 !important;
  display: block !important;
  margin: 56px !important;
}

.bottom a {
  color: deepskyblue;
}